.root {
	width: 400px;
	padding: 50px;
	border: 1px solid #38383a;
	margin: 50px auto;
	background-color: #918b8a!important;
	border-radius: 30px;
}

.field {
	margin-bottom: 20px !important;
}

.title {
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
	color: #000 !important;
}
