.root {
  width: 400px;
  padding: 50px;
  margin: 50px auto;
	background-color: #918b8a!important;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

