body {
	margin: 0;
	font-family: "Cormorant Garamond", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #232326 !important;
}
@media (max-width: 900px) {
	.css-gj1fbr-MuiGrid-root {
		display: none;
	}
}
@media (max-width: 900px) {
	.css-vok43g-MuiGrid-root {
		display: block;
		padding-left: 0;
		max-width: 100%;
	}
}
