body {
	margin: 0;
	font-family: "Cormorant Garamond", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #232326 !important;
}

@media (max-width: 900px) {
	.css-480o17-MuiGrid-root > .MuiGrid-item {
		display: none;
	}
}

@media (max-width: 900px) {
	.css-1tz8m30 > .MuiGrid-item {
		width: 100%;
	}
}
